@tailwind base;

html {
  @apply font-sans;
}

body {
  background: rgb(0, 201, 255);
  min-height: calc(100vh + 1px);
  background: linear-gradient(137deg, rgba(146, 254, 157, 1) 0%, rgba(0, 201, 255, 1) 100%);
  @apply bg-no-repeat;
  @apply bg-cover;
}

.h-128 {
  height: 32rem;
}

.text-cyan {
  color: rgba(0, 201, 255, 1);
}

.font-numbers {
  font-family: 'Vibur', cursive;
}

.text-7xl {
  font-size: 5rem;
}
.zoom:hover {
  transform: scale(1.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card {
  @apply text-5xl shadow-xl font-bold w-32 block bg-white flex justify-center items-center;
  height: 12rem;
  color: rgba(0, 201, 255, 1);
  font-family: 'Vibur', cursive;
}

@tailwind components;

@tailwind utilities;
