@tailwind base;

html {
  @apply font-sans;
}

body {
  min-height: calc(100vh + 1px);
  background: #0f0e17;
  @apply bg-no-repeat bg-cover pb-6 text-headers;
  box-sizing: border-box;
}

p,
span {
  @apply text-paragraphs;
}

select {
  @apply bg-transparent text-black;
}

.text-cyan {
  color: rgba(0, 201, 255, 1);
}

.zoom:hover {
  transform: scale(1.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.container {
  @apply px-4;
}

.card {
  @apply text-5xl shadow-xl font-bold w-32 bg-white flex justify-center items-center font-numbers rounded text-tertiary;
  height: 12rem;

  will-change: transform, opacity, zoom;
}

@tailwind components;

@tailwind utilities;
